<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>

    <!-- The following 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebOmics - {% block title %}{% endblock %}</title>

    <!-- Any other additional things you want to include .. -->
    {% render_bundle 'base' 'css' %}
    {% block head_block %}
    {% endblock %}

</head>
<body role="document">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/transparent_banner_inverted.png' %}" alt="Banner" width="15%"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/registration/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration/logout">Log out {{ user }}</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/registration/login">Log in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body_block %}
{% endblock %}

{% render_bundle 'base' 'js' %}
{% block js_block %}
{% endblock %}

</body>
</html>