<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <!-- The following 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebOmics - {% block title %}{% endblock %}</title>

    <!-- Bootstrap and jquery -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" -->
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.structure.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">

    <!-- Google web fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

    <!-- Any other additional things you want to include .. -->
    {% block head_block %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body role="document">

  <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container"  style="width: 100%">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">WebOmics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/linker"><strong>Data Integration</strong></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a href="/registration/logout" class="pull-right"><strong>Log out {{ user }}</strong></a>
                    {% ifnotequal request.user.username "guest" %}
                        <a href="/registration/profile" class="pull-right"><strong>Update Profile</strong></a>
                    {% endifnotequal %}
                    {% if request.user.is_staff %}
                        <a href="/basicviz/list_log" class="pull-right"><strong>View Job Logs</strong></a>
                    {% endif %}
                </li>
            {% else %}
                <li>
                    <a href="/registration/login" class="pull-right"><strong>Log in</strong></a>
                </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container" style="margin-top: 50px; background: white; width: 100%">
        {% block body_block %}<h1>Hello, world!</h1>{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type='text/javascript' src='{% static "js/jquery-3.3.1.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery-ui.min.js" %}'> </script>
    <script type='text/javascript' src='{% static "js/bootstrap.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/flat-ui.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.blockUI.js" %}'></script>
    {% block js_block %}
    {% endblock %}

  </body>
</html>