.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
  font-size: 14px;
  line-height: 1.72222;
  margin: 0 0 15px;
  font-weight: normal;
}
h6,
.h6 {
  font-size: 18px;
  font-weight: bold;
}
textarea {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 11px;
}