[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.20"
django-configurations = "*"
dj-database-url = "*"
django-extensions = "*"
"django-select2" = "*"
gunicorn = "*"
whitenoise = "*"
ipython = "*"
numpy = "==1.19.3" # https://stackoverflow.com/questions/64729944/runtimeerror-the-current-numpy-installation-fails-to-pass-a-sanity-check-due-to
scipy = "*"
pandas = "==0.25" # required for clustergrammer to work since it uses .ix, which is deprecated in later versions
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
neo4j-driver = "==1.7.6"
bioservices = "*"
jsonfield = "*"
jsonpickle = "*"
rpy2 = {version = "*",sys_platform = "!= 'win32'"}
tzlocal = "*"
django-webpack-loader = "==0.7.0"
clustergrammer = "*"
goatools = "*"
plotly = "*"
tqdm = "*"
xml2dict = "*"
loguru = "*"
pals-pathway = "*"
jupyterlab = "*"
django-grappelli = "*"

[dev-packages]

[requires]
python_version = "3.7"
