[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-configurations = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
django-extensions = "*"
"django-select2" = "*"
gunicorn = "*"
whitenoise = "*"
ipython = "*"
"rpy2" = "*"
# "rpy2" = {file = "https://download.lfd.uci.edu/pythonlibs/o4uhg4xd/rpy2-2.9.4-cp36-cp36m-win_amd64.whl"} # use this for windows
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
"neo4j-driver" = "*"
jupyter = "*"
bioservices = "*"
jsonfield = "*"
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "3.6"