[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.13"
django-configurations = "*"
dj-database-url = "*"
django-extensions = "*"
"django-select2" = "*"
gunicorn = "*"
whitenoise = "*"
ipython = "*"
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
neo4j-driver = "==1.7.6"
bioservices = "*"
jsonfield = "*"
jsonpickle = "*"
rpy2 = {version = "*",sys_platform = "!= 'win32'"}
tzlocal = "*"
django-webpack-loader = "*"
clustergrammer = "*"
goatools = "*"
plotly = "*"
tqdm = "*"
xml2dict = "*"
loguru = "*"
pals-pathway = "*"
jupyterlab = "*"
django-grappelli = "*"

[dev-packages]

[requires]
python_version = "3.7"
