{% extends 'base.html' %}

{% load staticfiles %}
{% load linker_tags %}

{% block body_block %}
    <div class="container-fluid">
        {% include "message.html" %}
        <div class="panel panel-default">
            <div class="panel-body mt-2">
                <h3>Analysis</h3>
                <p>
                    The following table shows all data integration analyses that have been created or shared with you.
                    To add a new analysis, click the Create button below.
                </p>
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>Analysis Name</th>
                        <th>Analysis Description</th>
                        <th>Publication</th>
                        <th>Species</th>
                        <th>Create Date</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for analysis in object_list %}
                        <tr>
                            {% get_read_only_status analysis user as read_only_flag %}
                            <td>
                                <a href="{% url 'explore_data' analysis_id=analysis.pk %}">{{ analysis.name }}</a>
                            </td>
                            <td>{{ analysis.description }}</td>
                            <td>
                                {% if analysis.publication %}
                                    {% if analysis.publication_link %}
                                        <a href="{{ analysis.publication_link }}" target="_blank">
                                            {{ analysis.publication }}
                                        </a>
                                    {% else %}
                                        {{ analysis.publication }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ analysis.get_species_str }}</td>
                            <td>{{ analysis.timestamp|date:"jS F Y H:i" }}</td>
                            <td>{{ analysis.get_owner }}</td>
                            <td>{% get_read_only_str analysis user %}</td>
                            <td class="text-center">
                                {% if not read_only_flag %}
                                    <a href="{% url 'delete_analysis' pk=analysis.pk %}" style="text-decoration: none">
                                        🗑️
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if user.is_authenticated %}
                    <br/>
                    <p>
                        <a href="{% url "create_analysis" %}" class="btn btn-primary">
                            Create a New Data Integration Analysis
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}