{% extends 'base.html' %}
{% load static %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    <!-- link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/sc-1.4.4/sl-1.2.5/datatables.min.css"/ -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css"/>
{% endblock %}

{% block body_block %}

    <div class="container-fluid">

        <div class="m-1 mb-3">
            <h5>Data Integration Results</h5>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       style="width: 600px;"
                       id="global_filter">
                <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
            </form>
        </div>

        <div class="card-group">

            <!-- Gene card -->
            <div class="card border-light">
                <div class="card-block">
                    <div class="card-header text-white bg-primary">Gene Information</div>
                    <div class="card-body m-0 p-1">
                        <div id="gene-row-info" class="card-text">
                            <p>Select an entry below.</p>
                        </div>
                    </div>
                    <div class="card-header text-white bg-primary">Gene Data</div>
                    <div>
                        <div class="card-table">
                            <table id="genes_table" class="table hover compact pod-table mb-0" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Protein card -->
            <div class="card border-light">
                <div class="card-block">
                    <div class="card-header text-white bg-primary">Protein Information</div>
                    <div class="card-body m-0 p-1">
                        <div id="protein-row-info" class="card-text">
                            <p>Select an entry below.</p>
                        </div>
                    </div>
                    <div class="card-header text-white bg-primary">Protein Data</div>
                    <div>
                        <div class="card-table">
                            <table id="proteins_table" class="table hover compact pod-table mb-0" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compound card -->
            <div class="card border-light">
                <div class="card-block">
                    <div class="card-header text-white bg-primary">Compound Information</div>
                    <div class="card-body m-0 p-1">
                        <div id="compound-row-info" class="card-text">
                            <p>Select an entry below.</p>
                        </div>
                    </div>
                    <div class="card-header text-white bg-primary">Compound Data</div>
                    <div>
                        <div class="card-table">
                            <table id="compounds_table" class="table hover compact pod-table mb-0" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reaction card -->
            <div class="card border-light">
                <div class="card-block">
                    <div class="card-header text-white bg-primary">Reaction Information</div>
                    <div class="card-body m-0 p-1">
                        <div id="reaction-row-info" class="card-text">
                            <p>Select an entry below.</p>
                        </div>
                    </div>
                    <div class="card-header text-white bg-primary">Reaction Data</div>
                    <div>
                        <div class="card-table">
                            <table id="reactions_table" class="table hover compact pod-table mb-0" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reaction card -->
            <div class="card border-light" style="flex-grow:2">
                <div class="card-block">
                    <div class="card-header text-white bg-primary">Pathway Information</div>
                    <div class="card-body m-0 p-1">
                        <div id="pathway-row-info" class="card-text">
                            <p>Select an entry below.</p>
                        </div>
                    </div>
                    <div class="card-header text-white bg-primary">Pathway Data</div>
                    <div>
                        <div class="card-table">
                            <table id="pathways_table" class="table hover compact pod-table mb-0" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block js_block %}

    <!-- script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sc-1.4.4/sl-1.2.5/datatables.min.js"></script -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/dataRender/ellipsis.js"></script>
    <script type='text/javascript' src='{% static "js/firdi.js" %}'></script>
    <script type='text/javascript' src='{% static "js/alasql.js" %}'></script>
    <script type='text/javascript'>
        var genes = JSON.parse('{{ data.genes_json|safe }}');
        var proteins = JSON.parse('{{ data.proteins_json|safe }}');
        var gene_proteins = JSON.parse('{{ data.gene_proteins_json|safe }}');
        var reactions = JSON.parse('{{ data.reactions_json|safe }}');
        var protein_reactions = JSON.parse('{{ data.protein_reactions_json|safe }}');
        var compounds = JSON.parse('{{ data.compounds_json|safe }}');
        var compound_reactions = JSON.parse('{{ data.compound_reactions_json|safe }}');
        var pathways = JSON.parse('{{ data.pathways_json|safe }}');
        var reaction_pathways = JSON.parse('{{ data.reaction_pathways_json|safe }}');
        var data = {
            genes: genes,
            proteins: proteins,
            gene_proteins: gene_proteins,
            reactions: reactions,
            protein_reactions: protein_reactions,
            compounds: compounds,
            compound_reactions: compound_reactions,
            pathways: pathways,
            reaction_pathways: reaction_pathways
        }
        const get_ensembl_gene_info = "{% url "get_ensembl_gene_info" %}";
        const get_uniprot_protein_info = "{% url "get_uniprot_protein_info" %}";
        const get_swissmodel_protein_pdb = "{% url "get_swissmodel_protein_pdb" %}";
        const get_kegg_metabolite_info = "{% url "get_kegg_metabolite_info" %}";
        const get_reactome_reaction_info = "{% url "get_reactome_reaction_info" %}";
        const get_reactome_pathway_info = "{% url "get_reactome_pathway_info" %}";
        const biopv_url = "{% static "js/bio-pv.min.js" %}";
        const SPECIES = '{{ data.species|urlencode }}';
    </script>
    <script type='text/javascript' src='{% static "js/require.js" %}'></script>
    <script type='text/javascript' src='{% static "js/linker.js" %}'></script>


{% endblock %}
