{% extends 'base.html' %}
{% load static %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/sc-1.4.4/sl-1.2.5/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href='{% static "css/analysis.css" %}'/>
{% endblock %}

{% block body_block %}

    <div class="row">
      <div class="col-md-12">
        <h5>Data Integration Results</h5>
        <p>
            <input type="text" style="width: 600px;" id="global_filter"/>
            <input type="button" value="Search">
        </p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 padding-0">
        <h6>Genes</h6>
        <table id="transcripts_table" class="table hover compact pod-table">
        </table>
      </div>

      <div class="col-md-2 padding-0">
        <h6>Proteins</h6>
        <table id="proteins_table" class="table hover compact pod-table">
      </table>
      </div>

      <div class="col-md-2 padding-0">
        <h6>Compounds</h6>
        <table id="compounds_table" class="table hover compact pod-table">
        </table>
      </div>

      <div class="col-md-3 padding-0">
        <h6>Reactions</h6>
        <table id="reactions_table" class="table hover compact pod-table">
        </table>
      </div>

      <div class="col-md-3 padding-0">
        <h6>Pathways</h6>
        <table id="pathways_table" class="table hover compact pod-table">
        </table>
      </div>

      <!-- p>
          This page shows the results of data integration across the different
          omics data provided using the Reactome database.
          Clicking a record (table row) adds a constraint across the other tables.
          Clicking a constraining record (highlighted in blue) removes that constraint.
          Multiple constraints across table can be used.
          Note that the constraints are across all the tables.
      </p -->

    </div>

    <div class="row" id="row-clicked-info">
      <div class="col-md-2 padding-0" id="gene-row-info">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title" id="peak-panel-title">Gene Information</h1>
          </div>
          <div class="panel-body">Click a gene above for more information</div>
        </div>
      </div>
      <div class="col-md-2 padding-0" id="protein-row-info">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title" id="metabolite-panel-title">Protein Information</h1>
          </div>
          <div class="panel-body">Click a protein above for more information</div>
        </div>
      </div>
      <div class="col-md-2 padding-0" id="compound-row-info">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title" id="metabolite-panel-title">Compound Information</h1>
          </div>
          <div class="panel-body">Click a compound above for more information</div>
        </div>
      </div>
      <div class="col-md-3 padding-0" id="reaction-row-info">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title" id="pathway-panel-title">Reaction Information</h1>
          </div>
          <div class="panel-body">Click a reaction above for more information</div>
        </div>
      </div>
      <div class="col-md-3 padding-0" id="pathway-row-info">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title" id="pathway-panel-title">Pathway Information</h1>
          </div>
          <div class="panel-body">Click a pathway above for more information</div>
        </div>
      </div>
    </div>


{% endblock %}

{% block js_block %}

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/dataRender/ellipsis.js"></script>
    <script type='text/javascript' src='{% static "js/firdi.js" %}'></script>
    <script type='text/javascript' src='{% static "js/alasql.js" %}'></script>
    <script type='text/javascript'>
        var transcripts = JSON.parse('{{ data.transcripts_json|safe }}');
        var proteins = JSON.parse('{{ data.proteins_json|safe }}');
        var transcript_proteins = JSON.parse('{{ data.transcript_proteins_json|safe }}');
        var reactions = JSON.parse('{{ data.reactions_json|safe }}');
        var protein_reactions = JSON.parse('{{ data.protein_reactions_json|safe }}');
        var compounds = JSON.parse('{{ data.compounds_json|safe }}');
        var compound_reactions = JSON.parse('{{ data.compound_reactions_json|safe }}');
        var pathways = JSON.parse('{{ data.pathways_json|safe }}');
        var reaction_pathways = JSON.parse('{{ data.reaction_pathways_json|safe }}');
        var data = {
            transcripts: transcripts,
            proteins: proteins,
            transcript_proteins: transcript_proteins,
            reactions: reactions,
            protein_reactions: protein_reactions,
            compounds: compounds,
            compound_reactions: compound_reactions,
            pathways: pathways,
            reaction_pathways: reaction_pathways
        }
        const get_kegg_metabolite_info = "{% url "get_kegg_metabolite_info" %}";
    </script>
    <script type='text/javascript' src='{% static "js/linker.js" %}'></script>


{% endblock %}
