<div class="tab-pane fade" id="pills-heatmap" role="tabpanel" aria-labelledby="pills-heatmap-tab">
    <div id="accordionHeatmap">

        <div class="card border-0">
            <div class="card-header" id="headingGene">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseGene" aria-expanded="false"
                            aria-controls="collapseGene">
                        Show Gene Heatmap
                    </button>
                </h5>
            </div>
            <div id="collapseGene" class="collapse" aria-labelledby="headingGene"
                 data-parent="#accordionHeatmap">
                <div id="summary-vis-gene" class="card-body">
                    No data is available.
                </div>
            </div>
        </div>

        <div class="card border-0">
            <div class="card-header" id="headingProtein">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseProtein" aria-expanded="false"
                            aria-controls="collapseProtein">
                        Show Protein Heatmap
                    </button>
                </h5>
            </div>
            <div id="collapseProtein" class="collapse" aria-labelledby="headingProtein"
                 data-parent="#accordionHeatmap">
                <div id="summary-vis-protein" class="card-body">
                    No data is available.
                </div>
            </div>
        </div>

        <div class="card border-0">
            <div class="card-header" id="headingCompound">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseCompound" aria-expanded="false"
                            aria-controls="collapseCompound">
                        Show Compound Heatmap
                    </button>
                </h5>
            </div>
            <div id="collapseCompound" class="collapse" aria-labelledby="headingCompound"
                 data-parent="#accordionHeatmap">
                <div id="summary-vis-compound" class="card-body">
                    No data is available.
                </div>
            </div>
        </div>

    </div>
</div>
