<div class="tab-pane fade" id="pills-factor" role="tabpanel" aria-labelledby="pills-factor-tab">
    <div id="groupAnalysis">
        <h3>Group #<span id="groupId" />: <span id="groupName" /></h3>
        <p class="lead">
            <span id="groupDesc" /> (created <span id="timestamp" />)
        </p>
        <ul>
            <li>Observed genes: <span id="numGenes" /></li>
            <li>Observed proteins: <span id="numProteins" /></li>
            <li>Observed compounds: <span id="numCompounds" /></li>
            <li>Reactions: <span id="numReactions" /></li>
            <li>Pathways: <span id="numPathways" /></li>
        </ul>
        <hr class="my-4">
        <div class="card-deck">

            <!-- boxplot -->
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Plotting</div>
                <div id="boxplotCard" class="card-body text-dark">
                    <h5 class="card-title">Boxplot</h5>
                    <p class="card-text">
                        Create a boxplot of the observed biological entities in this group.
                    </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="boxplotRadioOptions" id="boxplotRadio1"
                               value="0" checked>
                        <label class="form-check-label" for="inlineRadio1">Genes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="boxplotRadioOptions" id="boxplotRadio2"
                               value="2">
                        <label class="form-check-label" for="inlineRadio2">Proteins</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="boxplotRadioOptions" id="boxplotRadio3"
                               value="3">
                        <label class="form-check-label" for="inlineRadio3">Compounds</label>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-primary btn-sm" id="getBoxplotButton">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

            <!-- gene ontology -->
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Gene Ontology Analysis</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Goatools</h5>
                    <p class="card-text">
                        Perform a gene ontology enrichment analysis of the observed genes in this group using <a
                            href="https://github.com/tanghaibao/goatools">Goatools</a>.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Submit</a>
                </div>
            </div>

            <!-- reactome -->
            <!-- div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Overrepresentation/expression Analysis</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Reactome Analysis Service</h5>
                    <p class="card-text">
                        Perform an overrepresentation or expression analysis of the observed biological entities using <a
                            href="https://reactome.org/dev/analysis"> Reactome Analysis Service</a>.
                        If the data contains expression values then the analysis service will be executed, otherwise the
                        overrepresentation analysis will be performed.
                    </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="option1">
                        <label class="form-check-label" for="inlineRadio1">Genes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="option2">
                        <label class="form-check-label" for="inlineRadio2">Proteins</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                               value="option3">
                        <label class="form-check-label" for="inlineRadio3">Compounds</label>
                    </div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-primary btn-sm">Submit</a>
                    </div>
                </div>
            </div -->

        </div>

        <div id="boxplotResult"></div>

    </div>
</div>
