{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    {% render_bundle 'explore_data' 'css' %}
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'explore_data' analysis_id=analysis_id %}">🔍 Explore
                        Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'summary' analysis_id=analysis_id %}">📘 Summary</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inference' analysis_id=analysis_id %}">📊 Inference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' analysis_id=analysis_id %}">⚙️ Settings</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="m-1 mb-3 mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-browser-tab" data-toggle="pill" href="#pills-browser" role="tab"
                       aria-controls="pills-browser" aria-selected="true">Data Browser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-heatmap-tab" data-toggle="pill" href="#pills-heatmap" role="tab"
                       aria-controls="pills-heatmap" aria-selected="false">Heatmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-factor-tab" data-toggle="pill" href="#pills-factor" role="tab"
                       aria-controls="pills-factor" aria-selected="false">Factor Analysis</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% include "linker/explore_data_browser.html" %}
                {% include "linker/explore_data_heatmap.html" %}
                {% include "linker/explore_data_factor.html" %}
            </div>
        </div>

        <div id="annotationDialog" title="Update Annotation" style="display: none">
            <form id="annotationForm" action="">
                <fieldset>
                    <input type="hidden" id="annotationId"/>
                    <input type="hidden" id="displayName" name="displayName"/>
                    <label for="annotation">Annotation</label>
                    <textarea class="form-control" rows="5" id="annotationValue" name="annotationValue"></textarea>
                </fieldset>
                <br/>
                <input type="button" id="annotationSubmit" name="submit" value="Save" class="btn btn-primary"/>
            </form>
        </div>

    </div>

{% endblock %}

{% block js_block %}
    <script>
        // const data = JSON.parse('{{ data|escapejs }}');
        // const data_fields = JSON.parse('{{ data_fields|escapejs }}');
        // const clusterJson = JSON.parse('{{ cluster_json|escapejs }}');
        const viewNames = JSON.parse('{{ view_names|escapejs }}')
    </script>
    {% render_bundle 'explore_data' 'js' %}
{% endblock %}
