<div class="tab-pane fade show active" id="pills-browser" role="tabpanel" aria-labelledby="pills-browser-tab">
    <div id="all_tables">
        <div id="accordionDataBrowser" class="mb-3">

            <div class="card border-0">
                <div class="card-header" id="headingFilter">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFilter"
                                aria-expanded="true" aria-controls="collapseFilter">
                            Filtering Options
                        </button>
                    </h5>
                </div>
                <div id="collapseFilter" class="collapse" aria-labelledby="headingFilter"
                     data-parent="#accordionDataBrowser">
                    <div class="card-body">
                        <p class="m-0">
                            Define rules for filtering of data tables here. Rules will be concatenated using an AND condition.
                        </p>
                        <div id="builder"></div>
                        <div class="btn-group">
                            <input type="button" id="builder-reset" name="builder-reset" value="Reset"
                                   class="btn btn-primary"/>
                            <input type="button" id="builder-set" name="builder-set" value="Set"
                                   class="btn btn-primary"/>
                            <input type="button" id="builder-get" name="builder-get" value="Get"
                                   class="btn btn-primary"/>
                        </div>
                        <form class="mt-2">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="showDataCheck">
                                <label class="form-check-label" for="showDataCheck">
                                    Show data columns
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    Filter significant items in
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio1"
                                           value="significant_all">
                                    <label class="form-check-label" for="inlineRadio1">all tests</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio2"
                                           value="significant_any">
                                    <label class="form-check-label" for="inlineRadio2">any test</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio3"
                                           value="" checked="checked">
                                    <label class="form-check-label" for="inlineRadio3">none</label>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="card border-0">
                <div class="card-header" id="headingFirdi">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFirdi"
                                aria-expanded="false" aria-controls="collapseFirdi">
                            Explore Data
                        </button>
                    </h5>
                </div>
                <div id="collapseFirdi" class="collapse show" aria-labelledby="headingFirdi"
                     data-parent="#accordionDataBrowser">
                    <div class="card-body">
                        <p class="m-0">
                            The provided omics data are shown here in different data tables. Clicking an entity in one table
                            will display connected entities in other tables and additional information for that entity in the
                            bottom panel. A blue circle next to the entity name indicates
                            an observed entity (has a measurement in the uploaded data) while a white circle next to the
                            entity name indicates an inferred entity (connected according to Reactome database).
                            To create a comparison between different experimental conditions, please go to the
                            <strong>Inference</strong> tab. The resulting comparison will be shown as a column in the data table,
                            and entries are colour-coded according to the fold change. Highlighting a mouse will display the p-value.
                        </p>

                        <form class="mt-1 mb-1">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                   id="global_filter">
                        </form>

                        <div class="card-group">

                            <!-- Gene card -->
                            <div class="card border-light">
                                <div class="card-block">
                                    <div class="card-header bg-light m-0"><strong>Gene Data {% if data_display_name.0 %}
                                        (
                                        {{ data_display_name.0 }}){% endif %}</strong></div>
                                    <div class="card-table style-2 p-1">
                                        <table id="genes_table" class="table hover compact pod-table"
                                               style="width:100%">
                                        </table>
                                    </div>
                                    <div class="card-header text-black bg-light">
                                        <button type="button" class="btn btn-link" id="gene-previous">⬅️</button>
                                        <strong>Gene (<span id="gene-title">-</span>)</strong>
                                        <button type="button" class="btn btn-link" id="gene-next">➡️️</button>
                                    </div>
                                    <div class="card-body mt-3 p-1">
                                        <div id="gene-row-info" class="card-text">
                                            <p>Select an entry above.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Protein card -->
                            <div class="card border-light">
                                <div class="card-block">
                                    <div class="card-header bg-light m-0"><strong>Protein Data
                                        {% if data.display_name.2 %}(
                                            {{ data_display_name.2 }}){% endif %}</strong></div>
                                    <div class="card-table style-2 p-1">
                                        <table id="proteins_table" class="table hover compact pod-table"
                                               style="width:100%">
                                        </table>
                                    </div>
                                    <div class="card-header text-black bg-light">
                                        <button type="button" class="btn btn-link" id="protein-previous">⬅️</button>
                                        <strong>Protein (<span id="protein-title">-</span>)</strong>
                                        <button type="button" class="btn btn-link" id="protein-next">➡️️</button>
                                    </div>
                                    <div class="card-body mt-3 p-1">
                                        <div id="protein-row-info" class="card-text">
                                            <p>Select an entry above.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Compound card -->
                            <div class="card border-light">
                                <div class="card-block">
                                    <div class="card-header bg-light m-0"><strong>Compound Data
                                        {% if data_display_name.3 %}
                                            (
                                            {{ data_display_name.3 }}){% endif %}</strong></div>
                                    <div class="card-table style-2 p-1">
                                        <table id="compounds_table" class="table hover compact pod-table"
                                               style="width:100%">
                                        </table>
                                    </div>
                                    <div class="card-header text-black bg-light">
                                        <button type="button" class="btn btn-link" id="compound-previous">⬅️</button>
                                        <strong>Compound (<span id="compound-title">-</span>)</strong>
                                        <button type="button" class="btn btn-link" id="compound-next">➡️️</button>
                                    </div>
                                    <div class="card-body mt-3 p-1">
                                        <div id="compound-row-info" class="card-text">
                                            <p>Select an entry above.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Reaction card -->
                            <div class="card border-light">
                                <div class="card-block">
                                    <div class="card-header bg-light m-0"><strong>Reactions Data
                                        {% if data_display_name.4 %}(
                                            {{ data_display_name.4 }}){% endif %}</strong></div>
                                    <div class="card-table style-2 p-1">
                                        <table id="reactions_table" class="table hover compact pod-table"
                                               style="width:100%">
                                        </table>
                                    </div>
                                    <div class="card-header text-black bg-light">
                                        <button type="button" class="btn btn-link" id="reaction-previous">⬅️</button>
                                        <strong>Reaction (<span id="reaction-title">-</span>)</strong>
                                        <button type="button" class="btn btn-link" id="reaction-next">➡️️</button>
                                    </div>
                                    <div class="card-body mt-3 p-1">
                                        <div id="reaction-row-info" class="card-text">
                                            <p>Select an entry above.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pathway card -->
                            <div class="card border-light" style="flex-grow:2">
                                <div class="card-block">
                                    <div class="card-header bg-light m-0"><strong>Pathway Data
                                        {% if data_display_name.5 %}(
                                            {{ data_display_name.5 }}){% endif %}</strong></div>
                                    <div class="card-table style-2 p-1">
                                        <table id="pathways_table" class="table hover compact pod-table"
                                               style="width:100%">
                                        </table>
                                    </div>
                                    <div class="card-header text-black bg-light">
                                        <button type="button" class="btn btn-link" id="pathway-previous">⬅️</button>
                                        <strong>Pathway (<span id="pathway-title">-</span>)</strong>
                                        <button type="button" class="btn btn-link" id="pathway-next">➡️️</button>
                                    </div>
                                    <div class="card-body mt-3 p-1">
                                        <div id="pathway-row-info" class="card-text">
                                            <p>Select an entry above.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
