{% extends 'base.html' %}
{% load static %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    <link rel="stylesheet"  href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link ref="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" />
{% endblock %}

{% block body_block %}

    <div class="container" data-searched='false'>
        <div class="row">
          <div class="col-md-12">
            <h2>Data Linker</h2>
            <p>
                This page features a toy dataset displayed with FiRDI functionality.
                Clicking a record (table row) adds a constraint across the other tables.
                Clicking a constraining record (highlighted in blue) removes that constraint.
                Multiple constraints across table can be used.
                Note that the constraints are across all the tables.
            </p>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h5>Transcripts</h5>
            <table id="people_table" class="table hover compact pod-table">
            </table>
          </div>

          <div class="col-md-2">
            <h5>Proteins</h5>
            <table id="drinks_table" class="table hover compact pod-table">
          </table>
          </div>

          <div class="col-md-2">
            <h5>Compounds</h5>
            <table id="additives_table" class="table hover compact pod-table">
            </table>
          </div>

          <div class="col-md-2">
            <h5>Reactions</h5>
            <table id="storage_table" class="table hover compact pod-table">
            </table>
          </div>

          <div class="col-md-4">
            <h5>Pathways</h5>
            <table id="pathway_table" class="table hover compact pod-table">
            </table>
          </div>

        </div>

    </div>

{% endblock %}

{% block js_block %}

    <script type='text/javascript' src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type='text/javascript' src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <script type='text/javascript' src='{% static "js/firdi.js" %}'></script>
    <script type='text/javascript' src='{% static "js/linker.js" %}'></script>
    <script type='text/javascript' src='{% static "js/alasql.js" %}'></script>

{% endblock %}
