{% extends 'base.html' %}
{% load static %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    {{ form.media.css }}
    <style type="text/css">
        select {
            width: 600px;
        }
    </style>
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore_data' analysis_id=analysis_id %}">🔍 Explore Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'summary' analysis_id=analysis_id %}">📘 Summary</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'inference' analysis_id=analysis_id %}">📊 Inference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' analysis_id=analysis_id %}">⚙️ Settings</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if analysis_data.count > 0 %}
            <div class="m-1 mb-3">
                <div class="card">
                    <div class="card-body">
                            <h5>Inference Results</h5>
                            <p>
                                The following table shows all inference results that have been created.
                                To add a new inference, see the panel at the bottom.
                            </p>
                            <table class="table table-sm">
                                <tr>
                                    <th>Name</th>
                                    <th>Data Type</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                </tr>
                                {% for ad in analysis_data %}
                                    <tr>
                                        <td>{{ ad.display_name }}</td>
                                        <td>{{ ad.get_data_type_str }}</td>
                                        <td>{{ ad.get_inference_type_str }}</td>
                                        <td>{{ ad.timestamp|date:"jS F Y H:i" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Create a new inference</h5>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form id="inference_form"
                          method="post"
                          action="{{ action_url }}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br/>
                        <input type="submit" id="form_submit" name="submit" value="Save" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}
    <script type='text/javascript'>
        $('#id_inference_type').on('change', function() {
            $('#form_submit').click();
        })
    </script>
    {{ form.media.js }}
{% endblock %}