{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}WebOmics{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        {% include 'linker/navbar.html' %}

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>
                        <a href="{% url 'inference' analysis_id=analysis_id %}">
                            Inference Results
                        </a>
                        /
                        Principal Component Analysis: {{ n_components }} components
                    </h5>
                    {% if pca_plot %}
                        <div>
                            {{ pca_plot|safe }}
                        </div>
                    {% endif %}
                    {% if variance_plot %}
                        <div>
                            {{ variance_plot|safe }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}