{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    {% render_bundle 'inference' 'css' %}
    {{ form.media.css }}
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore_data' analysis_id=analysis_id %}">🔍 Explore Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'summary' analysis_id=analysis_id %}">📘 Summary</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'inference' analysis_id=analysis_id %}">📊 Inference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' analysis_id=analysis_id %}">⚙️ Settings</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if analysis_data_list.count > 0 %}
            <div class="m-1 mb-3">
                <div class="card">
                    <div class="card-body">
                            <h5>Inference Results</h5>
                            <p>
                                The following table shows all inferences that have been created for this analysis.
                                To add a new inference, see the panel at the bottom. Inference results
                                are shown in the <strong>Explore Data</strong> and <strong>Summary</strong> tabs.
                            </p>
                            <table class="table table-sm">
                                <tr>
                                    <th>Name</th>
                                    <th>Data Type</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                </tr>
                                {% for ad in analysis_data_list %}
                                    <tr>
                                        <td>{{ ad.display_name }}</td>
                                        <td>{{ ad.get_data_type_str }}</td>
                                        <td>{{ ad.get_inference_type_str }}</td>
                                        <td>{{ ad.timestamp|date:"jS F Y H:i" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Create a new inference</h5>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form id="inference_form"
                          method="post"
                          action="{{ action_url }}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br/>
                        <input type="submit" id="form_submit" name="submit" value="Save" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}
    <!-- the order below is important for select2 to work -->
    {% render_bundle 'inference' 'js' %}
    {{ form.media.js }}
{% endblock %}