{% extends 'base.html' %}

{% load static %}

{% block head_block %}
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <h4>Create a New Data Integration Analysis</h4>
        <form id="analysis_form"
              method="post"
              action="."
              enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br/>
            <input type="submit" name="submit" value="Submit Your Analysis" class="btn btn-primary"/>
            <input type="button" onClick="showExample();" value="Load Example Data" class="btn btn-danger"/>
        </form>
    </div>
{% endblock %}

{% block js_block %}
    <script type='text/javascript'>
        const genes = $('#id_genes');
        const proteins = $('#id_proteins');
        const compounds = $('#id_compounds');
        const species = $('#id_species');
        const exampleGenes = genes.val();
        const exampleProteins = proteins.val();
        const exampleCompounds = compounds.val();
        const exampleSpecies = species.val();
        genes.val('');
        proteins.val('');
        compounds.val('');
        species.val('');
        function showExample() {
            genes.val(exampleGenes);
            proteins.val(exampleProteins);
            compounds.val(exampleCompounds);
            species.val(exampleSpecies);
        }
    </script>
{% endblock %}