<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'explore_data' analysis_id=analysis_id %}">🔍 Explore Data</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'inference' analysis_id=analysis_id %}">📊 Inference</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'summary' analysis_id=analysis_id %}">📘 Summary</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' analysis_id=analysis_id %}">⚙️ Settings</a>
            </li>
        {% endif %}
        {% if show_selection_group %}
            <li class="nav-item ml-auto">
                <label>Selection group</label>
                <input type="text" name="group" id="group" readonly>
                <button type="button" class="btn btn-primary btn-sm" id="loadGroupButton">
                    Load Group
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="saveGroupButton">
                    Save Group <span class="badge badge-light" id="numSelected">0</span>
                </button>
            </li>
        {% endif %}
    </ul>
</div>