{% extends 'base.html' %}
{% load static %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    <!-- link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/sc-1.4.4/sl-1.2.5/datatables.min.css"/ -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css"/>
    {{ form.media.css }}
    <style type="text/css">
        select {
            width: 200px;
        }
    </style>
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore_data' analysis_id=analysis_id %}">🔍 Explore Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inference' analysis_id=analysis_id %}">📊 Inference</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'summary' analysis_id=analysis_id %}">📘 Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'settings' analysis_id=analysis_id %}">⚙️ Settings</a>
                </li>
            </ul>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Add Data</h5>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <p>
                        To add a new data point, enter its database identifiers below.
                    </p>
                    <ul>
                        <li>
                            For gene data, this should be the <strong>Ensembl</strong> ID.
                        </li>
                        <li>
                            For protein data, this should be the <strong>Uniprot</strong> ID.
                        </li>
                        <li>
                            For compound data, this should be the <strong>KEGG</strong> or <strong>ChEBI</strong> ID.
                        </li>
                        <!-- li>
                            For reactions and pathways, this should be the <strong>Reactome</strong> ID.
                        </li -->
                    </ul>
                    <form id="settings_form"
                          method="post"
                          action="{% url 'add_data' analysis_id=analysis_id %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br/>
                        <input type="submit" name="submit" value="Save" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Add Metabolic Pathways</h5>
                    <p>
                        To add metabolic pathways and all their associated links to this analysis, click the button below.
                    </p>
                    <a href="#" class="btn btn-primary">Add pathways</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}
    {{ form.media.js }}
{% endblock %}
