{% extends 'base.html' %}
{% load static %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    <!-- link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/sc-1.4.4/sl-1.2.5/datatables.min.css"/ -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css"/>
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore_data' analysis_id=analysis_id %}">🔍 Explore Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'summary' analysis_id=analysis_id %}">📘 Summary</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inference' analysis_id=analysis_id %}">📊 Inference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' analysis_id=analysis_id %}">⚙️ Settings</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Database Counts</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        The following biological entities are found in this analysis.
                    </h6>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Data Type</th>
                                <th scope="col"># Observed</th>
                                <th scope="col"># Inferred</th>
                                <th scope="col">Total</th>
                                <th scope="col">Samples</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gene data</td>
                                <td>{{ observed_genes }}</td>
                                <td>{{ inferred_genes }}</td>
                                <td>{{ total_genes }}</td>
                                <td>
                                    <ul>
                                        {% for item in gene_samples %}
                                            <li>{{ item.0 }} ({{ item.1 }})</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Protein data</td>
                                <td>{{ observed_proteins }}</td>
                                <td>{{ inferred_proteins }}</td>
                                <td>{{ total_proteins }}</td>
                                <td>
                                    <ul>
                                        {% for item in protein_samples %}
                                            <li>{{ item.0 }} ({{ item.1 }})</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Compound data</td>
                                <td>{{ observed_compounds }}</td>
                                <td>{{ inferred_compounds }}</td>
                                <td>{{ total_compounds }}</td>
                                <td>
                                    <ul>
                                        {% for item in compound_samples %}
                                            <li>{{ item.0 }} ({{ item.1 }})</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Reaction data</td>
                                <td>-</td>
                                <td>{{ num_reactions }}</td>
                                <td>{{ num_reactions }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Pathway data</td>
                                <td>-</td>
                                <td>{{ num_pathways }}</td>
                                <td>{{ num_pathways }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Annotations</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        The following user annotations have been performed in this analysis.
                    </h6>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Data Type</th>
                                <th scope="col">Database ID</th>
                                <th scope="col">Display Name</th>
                                <th scope="col">Annotation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in annotations %}
                                {% if item.2 %}
                                    <tr>
                                        <td>{{ item.0 }}</td>
                                        <td><a href="{{ item.3 }}" target="_blank">{{ item.1 }}</a></td>
                                        <td>{{ item.4 }}</td>
                                        <td>{{ item.2 }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

            <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inferences</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        The following statistical inferences have been performed in this analysis.
                    </h6>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}

{% endblock %}
