{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}WebOmics{% endblock %}

{% block head_block %}
    {% render_bundle 'summary' 'css' %}
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore_data' analysis_id=analysis_id %}">🔍 Explore Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'summary' analysis_id=analysis_id %}">📘 Summary</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inference' analysis_id=analysis_id %}">📊 Inference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' analysis_id=analysis_id %}">⚙️ Settings</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Annotations</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        The following user annotations are found in this analysis.
                    </h6>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Data Type</th>
                                <th scope="col">Database ID</th>
                                <th scope="col">Display Name</th>
                                <th scope="col">Annotation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data.annotations %}
                                {% if item.2 %}
                                    <tr>
                                        <td>{{ item.0 }}</td>
                                        <td><a href="{{ item.3 }}" target="_blank">{{ item.1 }}</a></td>
                                        <td>{{ item.4 }}</td>
                                        <td>{{ item.2 }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Database Counts</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        The following biological entities are found in this analysis.
                    </h6>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Data Type</th>
                                <th scope="col"># Observed</th>
                                <th scope="col"># Inferred</th>
                                <th scope="col">Total</th>
                                <th scope="col">Samples</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gene data</td>
                                <td>
                                    {{ data.observed_genes }}
                                    <a href="{% url 'download_list' analysis_id=analysis_id data_type=0 observed=True id_or_pk='names' %}" target="_blank">
                                        (names)
                                    </a>
                                    <a href="{% url 'download_list' analysis_id=analysis_id data_type=0 observed=True id_or_pk='id' %}" target="_blank">
                                        (ids)
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'download_list' analysis_id=analysis_id data_type=0 observed=False id_or_pk='id' %}" target="_blank">
                                        {{ data.inferred_genes }}
                                    </a>
                                </td>
                                <td>{{ data.total_genes }}</td>
                                <td>
                                    <ul>
                                        {% for item in data.gene_samples %}
                                            <li>{{ item.0 }} ({{ item.1 }}: {{ item.2 }})</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Protein data</td>
                                <td>
                                    <a href="{% url 'download_list' analysis_id=analysis_id data_type=2 observed=True id_or_pk='id' %}" target="_blank">
                                        {{ data.observed_proteins }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'download_list' analysis_id=analysis_id data_type=2 observed=False id_or_pk='id' %}" target="_blank">
                                        {{ data.inferred_proteins }}
                                    </a>
                                </td>
                                <td>{{ data.total_proteins }}</td>
                                <td>
                                    <ul>
                                        {% for item in data.protein_samples %}
                                            <li>{{ item.0 }} ({{ item.1 }}: {{ item.2 }})</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Compound data<br/>(mapped using their {{ data.compound_database }} identifiers)</td>
                                <td>
                                    <a href="{% url 'download_list' analysis_id=analysis_id data_type=3 observed=True id_or_pk='id' %}" target="_blank">
                                        {{ data.observed_compounds }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'download_list' analysis_id=analysis_id data_type=3 observed=False id_or_pk='id' %}" target="_blank">
                                        {{ data.inferred_compounds }}
                                    </a>
                                </td>
                                <td>{{ data.total_compounds }}</td>
                                <td>
                                    <ul>
                                        {% for item in data.compound_samples %}
                                            <li>{{ item.0 }} ({{ item.1 }}: {{ item.2 }})</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Reaction data</td>
                                <td>-</td>
                                <td>{{ data.num_reactions }}</td>
                                <td>{{ data.num_reactions }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Pathway data</td>
                                <td>-</td>
                                <td>{{ data.num_pathways }}</td>
                                <td>{{ data.num_pathways }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}
    {% render_bundle 'summary' 'js' %}
{% endblock %}
