{% extends 'base.html' %}

{% block title %}Update User Profile{% endblock %}

{% block body_block %}

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">

                        <!-- form card login -->
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">Update Profile</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    <table>
                                        {{ form.as_table }}
                                    </table>
                                    <br/>
                                    <button type="submit" name="submit" class="btn btn-primary" id="btnLogin">
                                        Submit
                                    </button>
                                </form>
                                <br/><br/>
                                <a href="{% url 'password_change' %}">Change Password</a>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->

                    </div>


                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->

{% endblock %}