{% extends 'base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block head_block %}
    {{ form.media.css }}
    <style type="text/css">
        select {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div id="container" class="container-fluid m-2 mb-5">
        <h3>Create Analysis - Enter Data</h3>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'create_analysis' %}">📝 Enter Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload_analysis' %}">💾 Upload Data</a>
                </li>
            </ul>
        </div>
        <div id="main" class="m-1 mt-3 mb-3">
            <div>
                <p>
                    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample1" role="button"
                       aria-expanded="false" aria-controls="collapseExample1">
                        Data Format
                    </a>
                    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample2" role="button"
                       aria-expanded="false" aria-controls="collapseExample2">
                        Example Data
                    </a>
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card border-dark mt-3 mb-3">
                        <div class="card-header text-white bg-primary">
                            Data Format
                        </div>
                        <div class="card-body">
                            <p>
                                Create a new data integration analysis by entering its data below in comma-separated
                                values format.
                            </p>
                            <ul>
                                <li>
                                    Analysis description is optional and can be left blank.
                                </li>
                                <li>
                                    Other fields for the data should be provided in a comma-separated
                                    format.
                                </li>
                                <li>For each -omics data:
                                </li>
                                <ul>
                                    <li>The first row is the header, and the first column is always used as the
                                        identifier column.
                                    </li>
                                    <li>Other columns are taken as the sample measurements.</li>
                                    <li>If present, a second row that begins with <strong>group</strong> can also be
                                        provided
                                        to specify the grouping information.
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="card border-dark mt-3 mb-3">
                        <div class="card-header text-white bg-primary">
                            Example Data
                        </div>
                        <div class="card-body">
                            To load an example dataset, click the following button:
                            <a class="btn btn-success mt-1 mb-3" style="width: 200px" href="#" onClick="showExample();" value="here">
                                Load Example Data
                            </a> and click the <strong>Submit Your Analysis</strong> button at the bottom of the page.
                        </div>
                    </div>
                </div>
                <div id="main-form" class="card border-dark mt-3 mb-3">
                    <div class="card-header text-white bg-primary">
                        Submission Form
                    </div>
                    <div class="card-body">
                        <form id="analysis_form"
                              method="post"
                              action="{% url 'create_analysis' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                {{ form.as_table }}
                            </table>
                            <br/>
                            <input id="submitBtn" type="submit" name="btnSubmit" value="Submit Your Analysis"
                                   class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script type='text/javascript'>
        const name = $('#id_analysis_name');
        const description = $('#id_analysis_description');
        const publication = $('#id_publication');
        const publication_link = $('#id_publication_link');
        const genes = $('#id_genes');
        const proteins = $('#id_proteins');
        const compounds = $('#id_compounds');
        const species = $('#id_species');
        const exampleGenes = genes.val();
        const exampleProteins = proteins.val();
        const exampleCompounds = compounds.val();
        const exampleSpecies = species.val();
        genes.val('');
        proteins.val('');
        compounds.val('');
        species.val('');

        function showExample() {
            name.val('Example multi-omics analysis using GraphOmics');
            description.val('Integrated proteomics and metabolomics data from COVID-19 patient sera')
            publication.val('Proteomic and Metabolomic Characterization of COVID-19 Patient Sera')
            publication_link.val('https://www.cell.com/cell/fulltext/S0092-8674(20)30627-9')
            genes.val(exampleGenes);
            proteins.val(exampleProteins);
            compounds.val(exampleCompounds);

            // no idea why below doesn't work
            // species.val(exampleSpecies).trigger('change');
            $('#id_species').val(exampleSpecies).trigger('change');
        }
    </script>
    {% render_bundle 'submit_analysis' 'js' %}
    {{ form.media.js }}
{% endblock %}