{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}GraphOmics{% endblock %}

{% block body_block %}
    <div class="container-fluid mt-2">

         {% include 'linker/navbar.html' with show_selection_group=False active='mofa' %}

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>
                        <a href="{% url 'inference' analysis_id=analysis_id %}">
                            Inference results
                        </a>
                        /MOFA results
                        <p>
                            Analysis History ID: {{ analysis_history_id }}<br>
                            Can be found at: {{ mofa_filepath }}
                        </p>
                    </h5>
                </div>
            </div>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Show MOFA Results</h5>
                    <form id="inference_form"
                          method="post"
                          action="{{ action_url }}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br/>
                        <input type="submit" id="form_submit" name="submit" value="Get Result" class="btn btn-primary"/>
                    </form>
                    <h5>
                        {% if list_data %}
                            {% for item in list_data %}
                                <a target='_blank' href="{{ item.1 }}">
                                    Explore Data
                                </a><br>
                            {% endfor %}
                        {% endif %}
                    </h5>
                    <p>
                        {% if message %}
                        <div class="mt-3 mb-3 alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                    </p>
                    <p>
                        {% if mofa_fig %}
                        <div>
                            <h5>MOFA Top Features Plot</h5>
                            {{ mofa_fig|safe}}
                        </div>
                        {% endif %}
                        {% if plot_factors and plot_factors_correlation and plot_r2 and data_overview_plot %}
                        <div>
                            <p>
                                <h5>Data Overview</h5>
                                <img src="{{ data_overview_plot }}" alt="Data Overview">
                            </p>
                            <p>
                                <h5>MOFA Factor Overview</h5>
                                {{ plot_factors|safe}}
                            </p>
                            <p>
                                <h5>MOFA Factor Correlation Plot</h5>
                                {{ plot_factors_correlation|safe}}
                            </p>
                            <p>
                                <h5>MOFA R2 Plot</h5>
                                {{ plot_r2|safe}}
                            </p>
                        </div>
                        {% endif %}
                        {% if factor_covariance_plot %}
                        <div>
                            <p>
                                <h5>Correlate Factors with Covariates in MetaData</h5>
                                <img src="{{ factor_covariance_plot }}" alt="Correlate Factors with Covariates">
                            </p>
                        </div>
                        {% endif %}
                        {% if covariance_plot %}
                        <div>
                            <p>
                                <img src="{{ covariance_plot }}">
                            </p>
                        </div>
                        {% endif %}
                    </p>
                    <p>
                    {% if mofa_df %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Feature</th>
                                    <th>Factor</th>
                                    <th>Value</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!-- jinja2 Technique -->
                            {% for i in mofa_df %}
                                <tr>
                                    <td>{{i.index}}</td>
                                    <td>{{i.feature}}</td>
                                    <td>{{i.factor}}</td>
                                    <td>{{i.value}}</td>
                                    <td>{{i.view}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if heatmap %}
                        <div>
                            <p>
                                <img src="{{ heatmap }}">
                            </p>
                        </div>
                    {% endif %}
                    </p>

                </div>
            </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <!-- the order below is important for select2 to work -->
    {% render_bundle 'inference' 'js' %}
    {{ form.media.js }}
{% endblock %}