<div class="tab-pane fade" id="pills-heatmap" role="tabpanel" aria-labelledby="pills-heatmap-tab">
    <div id="accordionHeatmap">

        <div class="card border-0">
            <div class="card-header" id="headingGeneHeatmap">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseGeneHeatmap" aria-expanded="false"
                            aria-controls="collapseGeneHeatmap">
                        Show Gene Heatmap
                    </button>
                </h5>
            </div>
            <div id="collapseGeneHeatmap" class="collapse" aria-labelledby="headingGeneHeatmap"
                 data-parent="#accordionHeatmap">
                <div id="summary-vis-gene" class="card-body">
                    No data is available.
                </div>
            </div>
        </div>

        <div class="card border-0">
            <div class="card-header" id="headingProteinHeatmap">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseProteinHeatmap" aria-expanded="false"
                            aria-controls="collapseProteinHeatmap">
                        Show Protein Heatmap
                    </button>
                </h5>
            </div>
            <div id="collapseProteinHeatmap" class="collapse" aria-labelledby="headingProteinHeatmap"
                 data-parent="#accordionHeatmap">
                <div id="summary-vis-protein" class="card-body">
                    No data is available.
                </div>
            </div>
        </div>

        <div class="card border-0">
            <div class="card-header" id="headingCompoundHeatmap">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseCompoundHeatmap" aria-expanded="false"
                            aria-controls="collapseCompoundHeatmap">
                        Show Compound Heatmap
                    </button>
                </h5>
            </div>
            <div id="collapseCompoundHeatmap" class="collapse" aria-labelledby="headingCompoundHeatmap"
                 data-parent="#accordionHeatmap">
                <div id="summary-vis-compound" class="card-body">
                    No data is available.
                </div>
            </div>
        </div>

    </div>
</div>
