<div class="tab-pane fade" id="pills-mofa" role="tabpanel" aria-labelledby="pills-mofa-tab">
    <div id="mofaResults">
        <h3>MOFA results</h3>
        <p>
            MOFA results can be found at: {{ mofa_filepath }}
        </p>
        <h3>Top Features</h3>
        <p>
            <div style="width:auto;height:100">
                {{ mofa_fig|safe}}
            </div>
        </p>
        <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Feature</th>
                        <th>Factor</th>
                        <th>Value</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                <!-- jinja2 Technique -->
                {% if mofa_df %}
                {% for i in mofa_df %}
                    <tr>
                        <td>{{i.index}}</td>
                        <td>{{i.feature}}</td>
                        <td>{{i.factor}}</td>
                        <td>{{i.value}}</td>
                        <td>{{i.view}}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </p>
    </div>
</div>
