{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}GraphOmics{% endblock %}

{% block head_block %}
    {% render_bundle 'inference' 'css' %}
    {{ form.media.css }}
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        {% include 'linker/navbar.html' with show_selection_group=False active='inference' %}

        {% if messages %}
            {% for message in messages %}
                <div class="mt-3 mb-3 alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% if list_data %}
            <div class="m-1 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Inference Results</h5>
                        <p>
                            The following table shows all inferences that have been created for this analysis.
                            To add a new inference, see the panel at the bottom. Inference results
                            are shown in the <strong>Explore Data</strong> page or from links in this page.
                        </p>
                        <table class="table table-sm">
                            <tr>
                                <th>Name</th>
                                <th>Data Type</th>
                                <th>Inference Type</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            {% for item in list_data %}
                                <tr>

                                    {% if 'Reactome' in item.0.get_inference_type_str %}
                                        {# Different number of results links for Reactome analysis #}
                                        <td>
                                            <strong>{{ item.0.display_name }}</strong><br/>
                                            <a target='_blank' href="{{ item.1 }}">
                                                View ORA results (Reactome.org)
                                            </a><br/>
                                            <a target='_blank' href="{{ item.2 }}">
                                                View expression data (Reactome.org)
                                            </a>
                                            <p>
                                                <small>
                                                    Reactome only keep results for 7 days. If the links above no longer
                                                    works, that means the results have expired. Please delete this
                                                    inference and submit it again to get updated links.
                                                </small>
                                            </p>
                                        </td>
                                        <td>{{ item.0.get_data_type_str }}</td>
                                        <td>{{ item.0.get_inference_type_str }}</td>
                                        <td>{{ item.0.timestamp|date:"jS F Y H:i" }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'delete_analysis_history' pk=item.0.pk %}"
                                               style="text-decoration: none">
                                                🗑️
                                            </a>
                                        </td>
                                    {% elif item.0.display_name == None %}

                                    {% else %}
                                        {# Any other analysis #}
                                        <td>
                                            <strong>{{ item.0.display_name }}</strong><br/>
                                            <a href="{{ item.1 }}">
                                                View results
                                            </a>
                                        </td>
                                        <td>{{ item.0.get_data_type_str }}</td>
                                        <td>{{ item.0.get_inference_type_str }}</td>
                                        <td>{{ item.0.timestamp|date:"jS F Y H:i" }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'delete_analysis_history' pk=item.0.pk %}"
                                               style="text-decoration: none">
                                                🗑️
                                            </a>
                                        </td>

                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Create a new inference</h5>
                    <form id="inference_form"
                          method="post"
                          action="{{ action_url }}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br/>
                        <input type="submit" id="form_submit" name="submit" value="Save" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}
    <!-- the order below is important for select2 to work -->
    {% render_bundle 'inference' 'js' %}
    {{ form.media.js }}
{% endblock %}