{% extends 'base.html' %}
{% load static %}

{% block title %}GraphOmics{% endblock %}

{% block head_block %}
    {{ form.media.css }}
    <style type="text/css">
        select {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_block %}

    <div class="container-fluid mt-2">

        {% include 'linker/navbar.html' with show_selection_group=False active='settings' %}

        <div class="m-1 mb-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Public Access</h5>

                    <p>
                        Allow this analysis to be accessed publicly. Public analysis can be viewed
                        by directly typing their URL (without sharing).
                    </p>
                    <form id="share_analysis_form"
                          method="post"
                          action="{% url 'make_public' analysis_id=analysis_id %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ make_public_form.as_table }}
                        </table>
                        <br/>
                        <input type="submit" name="submit" value="Save" class="btn btn-primary"/>
                    </form>

                </div>
            </div>
        </div>

        <div class="m-1 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Share Analysis</h5>

                    <p>
                        Enter the username to share this analysis with.
                    </p>
                    <form id="share_analysis_form"
                          method="post"
                          action="{% url 'add_share' analysis_id=analysis_id %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ share_analysis_form.as_table }}
                        </table>
                        <br/>
                        <input type="submit" name="submit" value="Save" class="btn btn-primary"/>
                    </form>

                    {% if shares %}
                        <table class="table table-sm mt-3">
                            <tr>
                                <th>Username</th>
                                <th>Share type</th>
                                <th>Owner</th>
                                <th>Action</th>
                            </tr>
                            {% for share in shares %}
                                <tr>
                                    <td>{{ share.user }}</td>
                                    <td>{{ share.get_read_only_str }}</td>
                                    <td>{{ share.owner }}</td>
                                    <td>
                                        {% if not share.owner %}
                                            <a href="{% url 'delete_share' analysis_id=analysis_id share_id=share.pk %}"
                                               style="text-decoration: none">
                                                🗑️
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_block %}
    {{ form.media.js }}
{% endblock %}
