{% extends 'base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block head_block %}
    {{ form.media.css }}
    <style type="text/css">
        select {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div id="container" class="container-fluid m-2 mb-5">
        <h3>Create Analysis - Upload Data</h3>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_analysis' %}">📝 Enter Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'upload_analysis' %}">💾 Upload Data</a>
                </li>
            </ul>
        </div>
        <div id="main" class="m-1 mt-3 mb-3">
            <div>
                <p>
                    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample1" role="button"
                       aria-expanded="false" aria-controls="collapseExample1">
                        Data Format
                    </a>
                    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample2" role="button"
                       aria-expanded="false" aria-controls="collapseExample2">
                        Example Data
                    </a>
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card border-dark mt-3 mb-3">
                        <div class="card-header text-white bg-primary">
                            Data Format
                        </div>
                        <div class="card-body">
                            <p>
                                Create a new data integration analysis by uploading data following the example format
                                below.
                            </p>
                            <ul>
                                <li>
                                    Analysis description is optional and can be left blank.
                                </li>
                                <li>
                                    Other fields for the data should be provided in a comma-separated
                                    format.
                                </li>
                                <li>
                                    For each omics data available, the
                                    following two files should be provided, otherwise they can be left blank.
                                </li>
                                <ol>
                                    <li>
                                        <a href="{% static 'data/uploads/compound_data.csv' %}">Measurements in CSV
                                            format</a>
                                    </li>
                                    <li>
                                        <a href="{% static 'data/uploads/compound_design.csv' %}">Design matrix in
                                            CSV format</a>
                                    </li>
                                </ol>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="card border-dark mt-3 mb-3">
                        <div class="card-header text-white bg-primary">
                            Example Data
                        </div>
                        <div class="card-body">
                            <p>
                                The following are some example data used to test GraphOmics in the paper.
                                Please download the respective zip file to your computer, extract it and
                                upload the data to GraphOmics.
                                For the Zebrafish and Covid19 datasets, please enter <strong>Danio rerio</strong>
                                and <strong>Homo sapiens</strong> respectively as the species in the form below.
                            </p>
                            <ul>
                                <li>
                                    Example <a href="{% static 'data/uploads/zebrafish_data.zip' %}">Zebrafish
                                    dataset</a>
                                    <sup><a href="https://www.pnas.org/content/114/5/E717" target="_blank">[1]</a></sup>
                                </li>
                                <li>
                                    Example <a href="{% static 'data/uploads/covid19_data.zip' %}">Covid19 dataset</a>
                                    <sup><a href="https://www.cell.com/cell/fulltext/S0092-8674(20)30627-9"
                                            target="_blank">[2]</a></sup>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="main-form" class="card border-dark mt-3 mb-3">
                    <div class="card-header text-white bg-primary">
                        Submission Form
                    </div>
                    <div class="card-body">
                        <form id="analysis_form"
                              method="post"
                              action="{% url 'upload_analysis' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                {{ form.as_table }}
                            </table>
                            <br/>
                            <input id="submitBtn" type="submit" name="btnSubmit" value="Submit Your Analysis"
                                   class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script type='text/javascript'>
        const name = $('#id_analysis_name');
        const description = $('#id_analysis_description');
        const genes = $('#id_genes');
        const proteins = $('#id_proteins');
        const compounds = $('#id_compounds');
        const species = $('#id_species');
        const exampleGenes = genes.val();
        const exampleProteins = proteins.val();
        const exampleCompounds = compounds.val();
        const exampleSpecies = species.val();
        genes.val('');
        proteins.val('');
        compounds.val('');
        species.val('');

        function showExample() {
            name.val('Example analysis');
            description.val('Mouse data in a Leishmania parasite experiment.')
            genes.val(exampleGenes);
            proteins.val(exampleProteins);
            compounds.val(exampleCompounds);
            species.val(exampleSpecies).trigger('change');
        }
    </script>
    {% render_bundle 'submit_analysis' 'js' %}
    {{ form.media.js }}
{% endblock %}